@{
    ViewData["Title"] = "Home Page";
}


<div class="container rounded shadow p-5 text-center bg-dark text-white">
    <h1 class="display-4">Empresas Estrella</h1>
    <h5>Administra tus recursos de manera eficiente!</h5>
    <br />
    <img class="img-thumbnail rounded" src="/img/equipo.jpg"/>
</div>
